
<!doctype html>
<html lang="en">
  <head>

    <title>Jumbotron Template for Bootstrap</title>
    <link rel = "stylesheet" href = "/css/bootstrap.min.css" >

    <!-- Bootstrap core CSS -->
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
  </head>

  <body>
    <% include ./partials/navbar %>


      <div class="container">
        <!-- Example row of columns -->
        <%- body -%>
      </div> <!-- /container -->


   <% include ./partials/footer %>
   <% include ./partials/javascriptOnly %>


  </body>
</html>
